DEVELOPMENT_TEAM = YOUR_TEAM_ID
KEYCHAIN_ACCESS_GROUP = YOUR_TEAM_ID.com.yourcompany.group
APP_GROUP = group.com.yourcompany.YourApp
FIREBASE_RTDB_URL = https://YOUR_PROJECT-default-rtdb.REGION.firebasedatabase.app
STOREKIT_MONTHLY_PRODUCT_ID = your_monthly_product_id
STOREKIT_YEARLY_PRODUCT_ID = your_yearly_product_id
STOREKIT_GROUP_ID = your_group_id
