DEVELOPMENT_TEAM = YOUR_TEAM_ID

HAPTICS_BUNDLE_IDENTIFIER = com.yourcompany.Haptics
WIDGETS_BUNDLE_IDENTIFIER = $(HAPTICS_BUNDLE_IDENTIFIER).Widgets
AYO_INTENT_EXTENSION_BUNDLE_IDENTIFIER = $(HAPTICS_BUNDLE_IDENTIFIER).AyoIntentExtension

KEYCHAIN_ACCESS_GROUP = YOUR_TEAM_ID.com.yourcompany.group
APP_GROUP = group.$(HAPTICS_BUNDLE_IDENTIFIER)
// Keep the https:/$()/ prefix so xcconfig does not treat // as a comment.
FIREBASE_RTDB_URL = https:/$()/YOUR_PROJECT-default-rtdb.REGION.firebasedatabase.app
